body {
    background-color: black;
    color: blue;
}

nav ul {
    list-style-type: none;
    color: blue;
}

h1 {
    text-align: center;
    color: blue;
}

h2 {
    text-align: center;
    color: red;
}